<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="#page-top"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#services">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div id="wrapper">
  <!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">
  <div id="content">
    <div class="container">

      <br/><br/>

      <div class="py5t ">


        <br/><br/>
      
        <form [formGroup]="invoiceForm" class="user">
          <div class="text-center">
            <h1 class="h4 text-gray-900">Invoice Form</h1>
          </div>
          <!-- Outer Row -->
          <div class="justify-content-center">

            <div class="card card2 shadow mb-4 yes-margin-auto">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-dark">Card Title</h6>
              </div>
              <div class="card-body">
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">

                  </div>
                  <div class="col-sm-6">
                    <input type="text" formControlName="recipientName" class="form-control form-control-user" id="recipient-name" placeholder="Recipient Name">
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">

                  </div>
                  <div class="col-sm-6">
                    <input type="text" formControlName="recipientAddress" class="form-control form-control-user" id="recipient-address" placeholder="Recipient Address">
                  </div>
                </div>
              </div>
            </div>

            <div class="card card2 shadow mb-4 yes-margin-auto">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-dark">Card Title</h6>
              </div>
              <div class="card-body">
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">

                  </div>
                  <div class="col-sm-6">
                    <input type="text" formControlName="invoiceNo" class="form-control form-control-user" id="invoice-no." placeholder="Invoice No." disabled>
                  </div>
                </div>
                <div class="form-group">
                  <input type="email" formControlName="invoiceTitle" class="form-control form-control-user" id="invoice-title" placeholder="Invoice Title">
                </div>
              </div>
            </div>

            <div class="card card2 shadow mb-4 yes-margin-auto">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-dark">Card Title</h6>
              </div>
              <div class="card-body">
                <div formArrayName="invoiceItems" *ngFor="let item of invoiceForm.get('invoiceItems').controls; let i = index;">
                  <div [formGroupName]="i">
                    <div class="form-group row">
                      <div class="col-sm-3 mb-3 mb-sm-0">
                        <input type="text" formControlName="itemName" class="form-control form-control-user" id="exampleFirstName" placeholder="Enter Item">
                      </div>
                      <div class="col-sm-4">
                        <input type="text" formControlName="itemDescription" class="form-control form-control-user" id="exampleLastName" placeholder="Enter description">
                      </div>
                      <div class="col-sm-3">
                        <input type="text" formControlName="itemAmount" class="form-control form-control-user" id="exampleLastName" placeholder="Amount">
                      </div>
                      <div class="col-sm-2">
                        <a (click)="removeInvoiceItem(i)">
                          <p class="icon-me"><i class="fa fa-trash-alt fa-fw"></i></p>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <button (click)="addInvoiceItem()" class="btn btn-primary btn-user btn-block">
                    Add an Item
                  </button>
                </div>

                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">

                  </div>
                  <div class="col-sm-6">
                    <input type="text" class="form-control form-control-user" id="exampleRepeatPassword" placeholder="Total" disabled>
                  </div>
                </div>
              </div>
            </div>

            <div class="card card2 shadow mb-4 yes-margin-auto">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-dark">Card Title</h6>
              </div>
              <div class="card-body">
                <div formArrayName="authorities" *ngFor="let item of invoiceForm.get('authorities').controls; let i = index;">
                  <div [formGroupName]="i">
                    <div class="form-group row">
                      <div class="col-sm-5 mb-3 mb-sm-0">
                        <input type="text" formControlName="authorityName" class="form-control form-control-user" id="exampleInputPassword" placeholder="Enter an authority">
                      </div>
                      <div class="col-sm-5">
                        <input type="text" formControlName="authorityDepartment" class="form-control form-control-user" id="exampleRepeatPassword" placeholder="Enter a department">
                      </div>
                      <div class="col-sm-2">
                        <a (click)="removeAuthority(i)">
                          <p class="icon-me"><i class="fa fa-trash-alt fa-fw"></i></p>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <a (click)="addAuthority()" class="btn btn-primary btn-user btn-block">
                    Add an Authority
                  </a>
                </div>
              </div>
            </div>


            <div class="card2 o-hidden pdb yes-margin-auto">
              <div class="card-body">
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <a href="#" class="btn btn-primary btn-user btn-block">
                      Finish Later
                    </a>
                  </div>
                  <div class="col-sm-6">
                    <a href="#" class="btn btn-primary btn-user btn-block">
                      Save and Continue
                    </a>
                  </div>
                </div>
              </div>
            </div>

          </div> <!-- End of Outer Row -->
        </form>

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright &copy; Your Website 2019</span>
            </div>
          </div>
        </footer>
        <!-- End of Footer -->

      </div><!-- End of py5t-->


    </div><!-- End of Container -->
  </div><!-- End of Content Wrapper -->
</div>
</div>
<!-- End of Page Wrapper -->
