<div class="container">

  <!-- Outer Row -->
  <div class="row justify-content-center">

    <div class="card o-hidden border-0 shadow-lg my-5">
      <!-- Nested Row within Card Body -->
      <div *ngIf="step == 1">
        <div class="p-5">
          <div *ngIf="errors.length > 0" class="alert alert-warning" role="alert">
            <div *ngFor="let error of errors; let i = index">
              {{error}}
            </div>
          </div>
          <br/>
          <div class="text-center">
            <h1 class="h4 text-gray-900 mb-2">Forgot Your Password?</h1>
            <p class="mb-4">Please provide the details below to validate your account</p>
          </div>
          <form [formGroup]="validateUserForm" (ngSubmit)="validateUser()" class="user">
            <div class="form-group">
              <input type="text" formControlName="lastName" class="form-control form-control-user" id="reset-lastname" aria-describedby="lastname" placeholder="Enter Last Name">
            </div>
            <div class="form-group">
              <input type="text" formControlName="phoneNumber" class="form-control form-control-user" id="reset-phonenumber" aria-describedby="phonenumber" placeholder="Enter Phone Number">
            </div>
            <button type="submit" class="btn btn-primary btn-user btn-block">
              Validate Account
            </button>
          </form>
          <hr>
          <div class="text-center">
            <a routerLink="/register" class="small">Create an Account!</a>
          </div>
          <div class="text-center">
            <a routerLink="/login" class="small">Already have an account? Login!</a>
          </div>
        </div>
      </div>
      <div *ngIf="step == 2">
        <div class="p-5">
          <div *ngIf="errors.length > 0" class="alert alert-warning" role="alert">
            <div *ngFor="let error of errors; let i = index">
              {{error}}
            </div>
          </div>
          <br />
          <div class="text-center">
            <h1 class="h4 text-gray-900 mb-2">Forgot Your Password?</h1>
            <p class="mb-4">Please reset your password</p>
          </div>
          <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()" class="user">
            <div class="form-group">
              <input type="password" formControlName="password" class="form-control form-control-user" id="reset-password" aria-describedby="password" placeholder="Enter a new password">
            </div>
            <div class="form-group">
              <input type="password" formControlName="confirmPassword" class="form-control form-control-user" id="reset-confirmPassword" aria-describedby="confirm-password" placeholder="Repeat Password">
            </div>
            <button type="submit" class="btn btn-primary btn-user btn-block">
              Reset Password
            </button>
          </form>
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>
